<h1>
  Formulario dinamico
</h1>


<form class="form-1" [formGroup]="formularioUno">
  <mat-form-field class="fixed-field" appearance="fill">
    <mat-label>Producto</mat-label>
    <mat-select formControlName="productos">
      <mat-option *ngFor="let item of options" [value]="item.value">
        {{item.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <lib-dynamicForm [jsonFormData]="formData" style="width: 100%;" formControlName="dinamicos" (eventData)="getDynamicFormData($event)"></lib-dynamicForm>

  <button type="submit" (click)="onClick()">TOTAL</button>
</form>

<hr>
<h1>
  Información de ubicación
</h1>

<form>
  <app-custom-select></app-custom-select>
  <lib-dynamicForm [jsonFormData]="formData2"></lib-dynamicForm>
</form>